<%@ include file="includes/taglibs.jsp"%>

<html:html>
<head>
    <title>{{ product.name }} - About</title>
    <base HREF="<%=org.opennms.web.Util.calculateUrlBase( request )%>" />
    <link rel="stylesheet" type="text/css" href="/wt-portal/css/default.css" />
</head>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="TreeControlTitle">
    <tr>
        <td width="36" class="TreeControlTitle" NOWRAP><img src="/wt-portal/images/spacers/spacer.gif" height="28" width="36" border="0" alt="{{ product.name }}"></td>
    <td width="100%" align="center" valign="middle" class="TreeControlTitle" NOWRAP>About {{ product.name }}</td>
    <td width="36" class="TreeControlTitle" NOWRAP><img src="/wt-portal/images/spacers/spacer.gif" height="28" width="36" border="0" alt="{{ product.name }}"></td>
  </tr>
    <tr>
        <td colspan="3" bgcolor="#000000"><img src="/wt-portal/images/spacers/spacer.gif" height="1" width="5" border="0" alt="{{ product.name }}"></td>
    </tr>
    <tr>
        <td colspan="3" bgcolor="#ffffff"><img src="/wt-portal/images/spacers/spacer.gif" height="10" width="5" border="0" alt="{{ product.name }}"></td>
    </tr>
</table>
<!-- BEGIN FRAMING TABLE:open tags, keep at 100%-->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="10"><img src="/wt-portal/images/spacers/spacer.gif" height="1" width="10" border="0" alt="{{ product.name }}"></td>
        <td>
<!-- END FRAMING TABLE:open tags, keep at 100%-->
<div align="center">
<table border="0" width="500">
{{ product.name }} delivers a convenient and accessible online "control panel"
that provides secure and personalized real-time information on the 
performance and health of computer systems, networks and cloud based services and nodes.

<br><br>
{{ product.name }} is a personalized, Web-based snmping, system management and cloud metrics
management tool. It was created for companies who need visibility and control of their 
mission-critical systems and applications whether in house or in the cloud.
{{ product.name }} provides an easy-to-navigate, interactive interface that enables business
managers to analyze and act on the same vital information available to network engineers.
<br><br>
With {{ product.name }} acting as a control panel for system snmping and application
back-office administration, companies can track all hardware and software performance
issues such as traffic flow, response times, and operational status, create and modify dashboards
and much much more.
<br>
 <tr>
        <td><br />
        <b>Contact Information</b><br><br>
            Email: <a href="mailto:{{ product.email }}">{{ product.email }}</a><br><br>
            Phone: 1-888-736-8354<br><br><br>
        <b>Version Information</b><br><br>
            <%-- Build info, generated by the build system --%>
            <%@ include file="includes/build.properties"%>
        <br>
        </td>
    </tr>
    <tr>
        <td align="center"><br /><a href="javascript: window.close();">Close Window</a></td>
    </tr>
</table>

</div>
<!-- BEGIN FRAMING TABLE:close tags-->
        </td>
    </tr>
</table>
<!-- END FRAMING TABLE:close tags-->
<br>
<jsp:include page="includes/footer.jsp" flush="false" />
</body>
</html:html>
