#if (! $data.User.hasLoggedIn())
<span class="footer">
        &nbsp;{{ product.name }} Version {{ product.version }}<br>
    &nbsp;Copyright &#169;&nbsp;{{ product.years }}&nbsp;{{ product.parent }}<br />
</span>
#end