
			<table border="0">
			<tr>
				<td>
					Version:
				</td>
				<td>
					"{{ product.version }}"
				</td>
			</tr>
				<td>
					Build Number:
				</td>
				<td>
					"{{ product.build.number }}"
				</td>
			</tr>
						</tr>
				<td>
					Built on:
				</td>
				<td>
					"{{ product.build.date }}"
				</td>
			</tr>
			</table>
		
