html>body {overflow:auto;}
body {overflow:auto; background: #ffffff; background-color: #ffffff; font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
form  {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
p, pre, blockquote, tr, td  {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;}
.nospace {margin:0; padding:2px 0 0 0;}

a:link    {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 214658; font-weight: normal; text-decoration: none;}
a:visited {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 214658; font-weight: normal; text-decoration: none}
a:hover   {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 456473; font-weight: normal; text-decoration: underline}
a:active   {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 456473; font-weight: normal; text-decoration: underline}
h1 {font-family: Verdana, Arial, "sans-serif"; font-size: 14px; color: 000000;}
h2 {font-family: Verdana, Arial, "sans-serif"; font-size: 12px; color: 000000;text-decoration: none;}
h3 {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;text-decoration: none;}
.h1 {font-family: Verdana, Arial, "sans-serif"; font-size: 14px; color: 000000;font-weight: bold;}
.h2 {font-family: Verdana, Arial, "sans-serif"; font-size: 12px; color: 000000;text-decoration: none;font-weight: bold;}
.h3 {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;text-decoration: none;font-weight: bold;}
ul {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; text-decoration: none;}
ol {margin-top: 0px; margin-bottom: 0px; margin-left: 30px; text-decoration: none;}
ol.alpha {margin-top: 0px; margin-bottom: 0px; margin-left: 30px; text-decoration: none; list-style-type: upper-alpha;}
li {margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-left: 0px; text-decoration: none;}
strong {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;text-decoration: none;}
big  {font-family: Verdana, Arial, "sans-serif"; font-size: 13px; color: 000000;font-weight: bold}
th  {font-family: Verdana, Arial, "sans-serif"; font-size: 12px; color: FFFFFF;font-weight: bold}

.tt {color: #214658; font-family: Verdana; font-size: 8px; font-weight: bold; text-decoration:underline;}
a.tt:link {color: #214658; font-family: Times; font-size: 8px; font-weight: bold; text-decoration:underline;}
a.tt:visited {color: #214658; font-family: Times; font-size: 8px; font-weight: bold; text-decoration:underline;}
a.tt:hover {color: #880000; font-family: Times; font-size: 8px; font-weight: bold; text-decoration:underline;}
a.tt:active {color: #214658; font-family: Times; font-size: 8px; font-weight: bold; text-decoration:underline;}


.error  {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: #9C866D; font-weight: bold}
.error2  {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: #9C866D;font-weight: bold; background: #660000}
.success  {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: #00CC00; font-weight: bold}
.warning {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: #CCCC00; font-weight: bold}

/*
.WELCOMETITLE {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: white; background: #666666; font-weight: bold}
.WELCOMETITLE:link {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: white; background: #666666; font-weight: bold}
.WELCOMETITLE:visited {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: white; background: #666666; font-weight: bold}
.TOOLBAR {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;font-weight: normal}
.TOOLBAR:link {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;font-weight: normal}
.TOOLBAR:visited {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: 000000;font-weight: normal}
.TITLEBAR {font-family: Verdana, Arial, "sans-serif"; font-size: 11px; color: FFFFFF; background: navy;font-weight: bold}
*/

.message {font-family: Verdana, Arial, "sans-serif"; font-size: 10px; color: 880000;font-weight: normal; font-style: italic;}
        
/*  FORM STYLES */   
.formText {font-size: 11px; font-weight: bold; }
input, textarea {font-family: Verdana, Arial, "sans-serif";font-size: 11px; margin-top:0px; margin-right: 0px; margin-bottom:0px; margin-left:0px;}
input.tableForm, textarea.tableForm {font-family: Verdana, Arial, "sans-serif";font-size: 11px; margin-top:2px; margin-right: 0px; margin-bottom:5px; margin-left:0px;  background: #FFFFFF; }
select {font-family: Verdana, Arial, "sans-serif";font-size: 11px;}
input:focus, textarea:focus, option:focus {font-family: Verdana, Arial, "sans-serif";font-size: 11px; background: #FFFFCC }
/*input.submit {font-family: Verdana, Arial, "sans-serif"; font-size: 10px; background: #880000}*/

a.topNav:link       {font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:none;}
a.topNav:visited    {font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:none;}
a.topNav:hover      {font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:underline;}
a.topNav:active	    {font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:underline;}

a.topNav_on:link	{font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:none;}
a.topNav_on:visited	{font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:none;}
a.topNav_on:hover	{font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:underline;}
a.topNav_on:active	{font-size: 9px; color: FFFFFF; font-weight: bold; text-decoration:underline;}

.footer {font-family: Verdana, Arial, "sans-serif"; font-size: 10px; color: 000000;font-weight: normal}
.italics {font-family: Verdana, Arial, "sans-serif"; font-size: 10px; color: 000000;font-weight: normal; font-style: italic}

/* SYSTEM MONITORING STYLES */
/* EDIT THESE STYLES TO CHANGE THE BRANDING COLORS */
 .topBanner {

background: #032b3b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzMmIzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  #032b3b 0%, #ffffff 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#032b3b), color-stop(65%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #032b3b 0%,#ffffff 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #032b3b 0%,#ffffff 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #032b3b 0%,#ffffff 65%); /* IE10+ */
background: linear-gradient(to right,  #032b3b 0%,#ffffff 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032b3b', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */

}

/* END TOP BANNER */

.results {font-size: 11px; color: 000000;font-weight: bold}
a.results:link {font-size: 11px; font-weight: bold; text-decoration:underline;}
a.results:visited {font-size: 11px; font-weight: bold; text-decoration:underline;}
a.results:hover {font-size: 11px; color: 880000; font-weight: bold; text-decoration:underline;}
a.results:active {font-size: 11px; color: 880000; font-weight: bold; text-decoration:underline;}


a.filter:link     {font-size: 9px; text-decoration:none; font-weight: bold;}
a.filter:visited     {font-size: 9px; text-decoration:none; font-weight: bold;}
a.filter:hover     {color: 880000; font-size: 9px; text-decoration:underline; font-weight: bold;}
a.filter:active     {color: 880000; font-size: 9px; text-decoration:underline; font-weight: bold;}

a.leftNav_on:link	{font-size: 11px; color: 000000;font-weight: bold; text-decoration:none;}
a.leftNav_on:visited	{font-size: 11px; color: 000000; font-weight: bold; text-decoration:none;}
a.leftNav_on:hover	{font-size: 11px; color: 000000; font-weight: bold; text-decoration:underline;}
a.leftNav_on:active	{font-size: 11px; color: 000000; font-weight: bold; text-decoration:underline;}

/*.sysmonTitleBar {color: 000000; font-family: Verdana; font-size: 11px; font-weight: bold;  white-space: nowrap; background-image: url(/wt-portal/images/backgrounds/orange_grad_vert.gif);}




/* tr.sysmonTitleBar {background-color: 214658}
td.sysmonTitleBar {padding: 0px; text-indent: 7px; text-align: left; vertical-align: top;}*/

/* FOLDER TAB STYLES */
.folderTabs_on {color: 000000; font-family: Verdana; font-size: 9px; font-weight: bold; background-color: ffffff;}
td.folderTabs_on {color: 000000; font-family: Verdana; font-size: 9px; font-weight: bold; background-color: ffffff;}
a.folderTabs_on:link {color: 000000; font-weight: bold; text-decoration:none;}
a.folderTabs_on:visited {color: 000000; font-weight: bold; text-decoration:none;}
a.folderTabs_on:hover {color: 000000; font-weight: bold; text-decoration:underline;}

.folderTabs_off {color: 606060; font-family: Verdana; font-size: 9px; font-weight: normal; background-color: dcdcdc;}
td.folderTabs_off {color: cccccc; font-family: Verdana; font-size: 9px; font-weight: normal; background-color: dcdcdc;}
a.folderTabs_off:link {color: 606060; text-decoration:none;}
a.folderTabs_off:visited {color: 606060; text-decoration:none;}
a.folderTabs_off:hover {color: 606060; text-decoration:underline;}

/* FOR TESTING PURPOSES */
tr.tableText      {padding-left:10px; background-color: FFFFFF; vertical-align: top;}
tr.tableTextLight      {padding-left:10px; background-color: 00FF33; vertical-align: top;}
tr.tableTextDark  {padding-left:10px; background-color: 33FFFF; vertical-align: top;}

/* TABLE STYLES */
.tableHeader th {color: 000000; font-family: Verdana; font-size: 12px; font-weight: bold; white-space: nowrap;}
.tableHeader {color: FFFFFF; font-family: Verdana; font-size: 12px; font-weight: bold; white-space: nowrap;}
td.tableHeader {padding: 3px; text-indent: 7px; background-color: 81959d}
a.tableHeader:link {color: FFFFFF; font-family: Verdana; font-size: 12px; font-weight: bold; text-decoration:underline;}
a.tableHeader:visited {color: FFFFFF; font-family: Verdana; font-size: 12px; font-weight: bold; text-decoration:underline;}
a.tableHeader:hover {color: D4D4D4; font-family: Verdana; font-size: 12px; font-weight: bold; text-decoration:underline;}

.tableHeaderDashbd {color: FFFFFF; font-family: Verdana; font-size: 11px; font-weight: bold;}
td.tableHeaderDashbd {padding: 2px; text-indent: 2px; background-color: 81959d; vertical-align: bottom; text-align:center;}

td.tableHeaderDark {padding: 3px; text-indent: 7px; background-color: 56707B}

tr.tableRowLight      {padding-top: 3px; padding-left:10px; background-color: f0f0f0; vertical-align: top;}
tr.tableRowDark {padding-top: 3px; padding-left:10px; background-color: D4D4D4; vertical-align: top;}

tr.treeRowLight      {padding-top: 0px; padding-bottom: 0px; padding-left: 10px; margin-top: 0px; margin-bottom: 0px; background-color: f0f0f0;}
tr.treeRowDark {padding-top: 0px; padding-bottom: 0px; padding-left: 10px; margin-top: 0px; margin-bottom: 0px; background-color: D4D4D4;}
td.treeText  {padding-top: 0px; padding-bottom: 0px; padding-left:10px;}

.tableText {padding-top: 3px; padding-left:10px; color: #000000; font-family: Verdana; font-size: 11px; font-weight: normal; vertical-align: top;}
td.tableText     {padding-top: 3px; padding-left:10px; height:22px; vertical-align: top;}
a.tableText:link     {text-decoration:underline; vertical-align: top;}
a.tableText:visited     {text-decoration:underline; vertical-align: top;}
a.tableText:hover     {text-decoration:underline; vertical-align: top;}
a.tableText:active     {text-decoration:underline; vertical-align: top;}

.tableTextDashbd {padding-top: 2px; padding-left:3px; color: #000000; font-family: Verdana; font-size: 10px; font-weight: normal; vertical-align: top;}
td.tableTextDashbd     {padding-top: 3px; padding-left:3px; height:18px; vertical-align: top;}
a.tableTextDashbd:link     {text-decoration:underline; vertical-align: top;}
a.tableTextDashbd:visited     {text-decoration:underline; vertical-align: top;}
a.tableTextDashbd:hover     {text-decoration:underline; vertical-align: top;}
a.tableTextDashbd:active     {text-decoration:underline; vertical-align: top;}

td.bgWhite     {background-color: ffffff;}

/*.tableDisabled {padding-top: 3px; padding-left:10px; color: #880000; font-family: Verdana; font-size: 11px; font-weight: normal; vertical-align: top;}*/
td.tableDisabled     {color: #663300; padding-top: 3px; padding-left:10px; height:22px; vertical-align: top; font-weight: normal;}
a.tableDisabled:link     {color: #663300; text-decoration:underline; vertical-align: top; font-weight: normal;}
a.tableDisabled:visited     {color: #663300; text-decoration:underline; vertical-align: top; font-weight: normal;}
a.tableDisabled:hover     {color: #663300; text-decoration:underline; vertical-align: top; font-weight: normal;}
a.tableDisabled:active     {color: #663300; text-decoration:underline; vertical-align: top; font-weight: normal;}

td.WTsysmonTableList        {padding: 0px; text-indent: 5px;  text-align: left; vertical-align: middle}
td.WTsysmonTableListIndent0 {padding: 0px; text-indent: 5px;  text-align: left; vertical-align: middle}
td.WTsysmonTableListIndent1 {padding: 0px; text-indent: 25px; text-align: left; vertical-align: middle}
td.WTsysmonTableListIndent2 {padding: 0px; text-indent: 45px; text-align: left; vertical-align: middle}
/*td.WTsysmonTableDate  {padding: 2px; text-align: center; vertical-align: middle; white-space: nowrap}
td.WTsysmonTableDescr {padding: 4px; text-align: left; text-indent: 0px; vertical-align: middle} */

/* Graph legend box styles */
td.graphLegend {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px;}
td.graphLegendTitle {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 10px; color: #FFFFFF; background-color: #81959D; font-weight:bold; border: solid #214658 1px;}
td.graphLegendBox {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border: solid #214658 1px;}
td.graphLegendL {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border-left: solid #214658 1px; }
td.graphLegendR {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border-right: solid #214658 1px; }
td.graphLegendTB {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border-top: solid #214658 1px; border-bottom: solid #214658 1px;}
td.graphLegendTBL {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border-top: solid #214658 1px; border-bottom: solid #214658 1px; border-left: solid #214658 1px; }
td.graphLegendTRB {height: 18px; font-family: Verdana, Arial, "sans-serif"; font-size: 9px; border-top: solid #214658 1px; border-right: solid #214658 1px;  border-bottom: solid #214658 1px;}

/* STATUS STYLES */
.outage_down {color: #ff3333; font-family: Verdana; font-size: 11px; font-weight: bold;}
.statusColor_red {color: #FF0000; font-family: Verdana; font-size: 11px; font-weight: bold;}
a.statusColor_red:link     {color: #FF0000; font-weight: bold; text-decoration:none;}
a.statusColor_red:visited     {color: #FF0000; font-weight: bold; text-decoration:none;}
a.statusColor_red:hover     {color: #FF0000; font-weight: bold; text-decoration:underline;}
a.statusColor_red:active     {color: #FF0000; font-weight: bold; text-decoration:underline;}

/* DB Monitoring Styles */
.dbinfopane {
	font-family: Tahoma, Verdana, sanserif;
	color: #333333;
	font-weight: normal;
	font-size: 12px;
	padding: 14px;
	/*margin-right: 20px;*/
	/*margin-left: 20px;*/
	/* letter-spacing: -0.5; */
	border: 1px solid #BABDB6;
	overflow: auto;
	background-color: #fafcfe;
}


/* Recommends Box */
DIV.bookBox {overflow:visible; border-width:1px; border-top-style:none; border-right-style:solid; border-left-style:solid; border-bottom-style:solid; width:379; border-color:#cccccc;}

/* BROWSER PANE BLUE GRADIENT TITLE BAR: used for Tips */
.TreeControlTitle {
    	font-family: Verdana;
   		background: #214658;
   		color: #000000;
   		font-size: 11px;
   		font-weight: bold;
 }
 td.TreeControlTitle {
    	background-image: url(/wt-portal/images/backgrounds/dk_blue_grad_vert.gif);
 }

        .BorderedContent
        {
          background-color: white;
          border: thin gray solid;
          color: black;
          font-weight: normal;
          padding: 1;
        }

        .BorderedController
        {
          background-color: white;
          border: thin gray solid;
          font-weight: normal;
          color: black;
          padding: 1;
        }

        .BorderedPortlet
        {
          background-color: white;
          border: thin gray solid;
          font-weight: normal;
          color: black;
          padding: 1;
        }

        .BorderedTitle
        {
          background-color: gray;
          border: thin red solid;
          color: black;
          font-weight: bold;
          padding: 1;
        }

        .ControllerStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 2;
        }

        .PortletStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }
/* changed  */
        .TabStyleClass
        {
          background-color: red;
          border-style: none;
          color: red;
          font-weight: bold;
          padding: 0;
        }

        .TitleStyleClass
        {
          background-color: gray;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }

        .HighlightTitleStyleClass
        {
          background-color: black;
          border-style: none;
          color: white;
          font-weight: bold;
          padding: 0;
        }
/* changed  */
        .TabTitleStyleClass
        {
          background-color: red;
          border-style: none;
          color: red;
          font-weight: normal;
          padding: 0;
        }

        .ContentStyleClass
        {
          background-color: white;
          border-style: none;
          color: black;
          font-weight: normal;
          padding: 0;
        }
/* changed  */
        .TabContentStyleClass
        {
          background-color: red;
          border-style: none;
          color: red;
          font-weight: normal;
          padding: 0;
        }

        .listCellHead
        {
          text-decoration:underline;
          background-color:#6868AB;
          border-style:outset;
          border-width:2px;
          border-left-color:white;
          border-top-color:white;
          border-bottom-color:black;
          border-right-color:black;
          cursor: pointer;
          FONT-SIZE:8pt;
          FONT-WEIGHT:bold;
          COLOR: white;
          ; font-family: Verdana, Arial, Helvetica, sans-serif
        }

        .listCellHeadNoLink
        {
          background-color:#6868AB;
          border-style:solid;
          border-width:2px;
          border-left-color:#6868AB;
          border-top-color:#6868AB;
          border-bottom-color:#6868AB;
          border-right-color:#6868AB;
          FONT-SIZE:7pt;
          FONT-WEIGHT:normal;
          COLOR: white;
          ; font-family: Verdana, Arial, Helvetica, sans-serif
        }

        .listCell
        {
          background-color:#ECECEC;
          FONT-SIZE:7pt;
          FONT-WEIGHT:normal;
        }


.UPPERCASE {
  text-transform: uppercase;
}


.WELCOME {
  font-size: 12pt;
  color: #000000;
  font-weight: 900;
  font-stretch: wider;
}


.MENUBAR {
           font-family: arial,helvetica;
           background: #F5F5F5;
           color: #000000;
           font-size: 11pt;
           font-weight: bold;

           border-top: 1px solid #B0B0B0;
           border-left: 1px solid #B0B0B0;
           border-right: 1px solid #FAFAFA;
           border-bottom: 1px solid #FAFAFA;
         }

.INPUTFORM {
           font-family: arial,helvetica;
           background: #F0F0F0;
           color: #000000;
           font-size: 11pt;
           font-weight: bold;

           border-top: 1px solid #A0A0A0;
           border-left: 1px solid #A0A0A0;
           border-right: 1px solid #FFFFFF;
           border-bottom: 1px solid #FFFFFF;
         }

.INPUTFORMTITLE {
           font-family: arial,helvetica;
           background: #FAFAFA;
           color: #000000;
           font-size: 13pt;
           font-weight: bold;

           border-top: 1px solid #FFFFFF;
           border-left: 1px solid #FFFFFF;
           border-right: 1px solid #0A0A0A;
           border-bottom: 1px solid #0A0A0A;
         }

.MENUBUTTON {
           font-family: arial,helvetica;
           background: #E0E0E0;
           color: #808080;
           font-size: 10pt;
           font-weight: bold;

           border-top: 1px solid #FFFFFF;
           border-left: 1px solid #FFFFFF;
           border-right: 1px solid #A0A0A0;
           border-bottom: 1px solid #A0A0A0;
         }

.PANETITLE {
           background: #FAFAFA;
           font-weight: bold;
         }

.BUTON
{
  font-family: arial,helvetica;
  background: #E0E0E0;
  color: NAVY;
  font-size: 10pt;
  font-weight: bold;
  border-color: #050505;
  border-top: 1pt double #FFFFFF;
  border-left: 1pt double #FFFFFF;
  border-right: 1pt double #A0A0A0;
  border-bottom: 1pt double #A0A0A0;
}
.bluebuttonsmall
{
        background-color: #CCCCCC;
        border-style: none;
        color: Black;
        display: block;
        font-weight: normal;
        padding: 0;
        font-family : Arial, Helvetica, sans-serif;
        font-size : 8pt;
        border-top: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
        border-right: 1px solid #0A0A0A;
        border-bottom: 1px solid #0A0A0A;
        width : 65px;
}

.UserBrowserUserDisabled
{
    background-color: f0f0f0;
    text-decoration: line-through;
	color: #663300; padding-top: 3px; padding-left:10px; height:22px; vertical-align: top; font-weight: normal;
}

.UserBrowserUserConfirmed
{
    background-color: yellow;
    font-style: italic;
}

.HelpContent {
           font-size: 8px;
         }

.CondensedTableContent 
{
	font-size: 9px;
}

.WTTITLE {
           font-family: Verdana;
           background: #000033;
           color: #FFFFFF;
           font-size: 10pt;
           font-weight: bold;

           border-top: 0px solid #A0A0A0;
           border-left: 0px solid #A0A0A0;
           border-right: 0px solid #FFFFFF;
           border-bottom: 0px solid #FFFFFF;
         }
div.scroller500h {
		margin: 0px;
		padding: 0px;
		overflow: auto;
		height: 500px;
}

.hideScreen {
	display: none;
}
.hidePrinter {
}
/* dashboard components */
div.canvasDiv {
	width: 804px;
	background-color: #F0F0F0;
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
	position: absolute;
	top: 100px;
	left: 0px;
}
div.componentDiv {
    background-color: #C0C0C0;
    position: absolute;
	border-width: 1px;
    border-color: #A0A0A0;
    border-style: solid;
    
}

/* Categories */

.sectionReadOnly {padding-left: 20px; color: #cccccc; font-family: Arial,Verdana; font-size: 11px; font-weight: normal; font-style: italic;}
.catReadOnly {padding-left: 20px; color: #000000; font-family: Arial,Verdana; font-size: 11px; font-weight: bold; font-style: italic;}


/*  SYS MON OVERVIEW */
/*  ALL MANAGED INTERFACES ROW */
tr.allInterfTotal {
	border: 1px solid #635A5C;
	background: url('/wt-portal/images/backgrounds/org_ovrvwOrgTotal.gif') repeat-x;
	width: 97%;
	height: 22px;
	margin-left: 10px;
}

tr.allInterfTotal a:link {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

tr.allInterfTotal a:visited {
	font-family: Arial, Tahoma, sans-serif;
	color: #EEEEEC;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

tr.allInterfTotal a:hover {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

tr.allInterfTotal a:active {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}



td.allInterfTotal {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

td.allInterfTotal a:link {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

td.allInterfTotal a:visited {
	font-family: Arial, Tahoma, sans-serif;
	color: #EEEEEC;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

td.allInterfTotal a:hover {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

td.allInterfTotal a:active {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

tr.ovrallUptimeOrgs {
	border: 1px solid #635A5C;
	background: url('/wt-portal/images/backgrounds/org_ovrallUptimeBox.gif') repeat-x;
	width: 97%;
	height: 22px;
	margin-left: 10px;
}

td.ovrallUptimeOrgs {
	font-family: Arial, Tahoma, sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-top: 3px;
}

td.firstCell {
	padding-left: 20px;
}

tr.overviewOrg {
        border: 0px;
        padding: 0px;
}
td.overviewOrg {
		background: url('/wt-portal/images/backgrounds/org_ovrview1.gif') repeat-x;
		background-color: white;
        border-bottom: 1px solid #635A5C;
        /* padding-top: 2px; */
        /* padding-bottom: 2px; */
		font-family: Tahoma, Arial, sans-serif;
		font-size: 13px;
		color: #2E5C97;
		font-weight: bold;
		margin-right: 0px;
		padding: 0px;
		white-space: nowrap;
}
tr.overviewSection1 {
        border: 0px;
        padding: 0px;
}
td.overviewSection1	{
		background-color: #F2F8FF;
		/*border-top: 1px solid #C2D9F2;*/
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}
tr.overviewSection2 {
        border: 0px;
        padding: 0px;
}
td.overviewSection2	{
		background-color: #F2F8FF;
		/*border-top: 1px solid #C2D9F2;*/
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}
tr.overviewSection3 {
        border: 0px;
        padding: 0px;
}
td.overviewSection3	{
		background-color: #F2F8FF;
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}

tr.overviewSection4 {
        border: 0px;
        padding: 0px;
}
td.overviewSection4	{
		background-color: #F2F8FF;
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}

tr.overviewSection5 {
        border: 0px;
        padding: 0px;
}
td.overviewSection5	{
		background-color: #F2F8FF;
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}

tr.overviewSection6 {
        border: 0px;
        padding: 0px;
}
td.overviewSection6	{
		background-color: #F2F8FF;
        border-bottom: 1px solid #C2D9F2;
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		font-weight: normal;
		padding: 0px;
		white-space: nowrap;			
}

td.overviewCategory	{
		color: black;
		font-family: Tahoma, Arial, sans-serif;
		font-size: 11px;
		padding: 0px;
		white-space: nowrap;
}

tr.ovrvwLight {
		padding-top: 3px; 
		/*padding-left:10px; */
		font-family: Tahoma, Arial, sans-serif;
		color: #000000;
		font-size: 11px;
		background-color: #F2F8FF; 
		vertical-align: top;
		border-bottom: 1px solid #C2D9F2;
}

td.ovrvwLight {
		padding-top: 3px; 
		/*padding-left:10px; */
		font-family: Tahoma, Arial, sans-serif;
		color: #000000;
		font-size: 11px;
		background-color: #F2F8FF; 
		vertical-align: top;
		border-bottom: 1px solid #C2D9F2;
}

tr.ovrvwDark {
		padding-top: 3px; 
		/*padding-left:10px; */
		font-family: Tahoma, Arial, sans-serif;
		color: #000000;
		font-size: 11px;
		background-color: #DFE6ED; 
		vertical-align: top;
		border-bottom: 1px solid #FFFFFF;
}

td.ovrvwDark {
		padding-top: 3px; 
		/*padding-left:10px; */
		font-family: Tahoma, Arial, sans-serif;
		color: #000000;
		font-size: 11px;
		background-color: #DFE6ED; 
		vertical-align: top;
		border-bottom: 1px solid #FFFFFF;
}
/*  ORG CONTEXT LABEL */
.orgContext {
		font-family: Tahoma, Arial, sans-serif;
		color: #204a87;
		font-size: 12px;
		font-weight: bold;
		/*vertical-align: top;*/
}

.padleft {
		padding-left: 10px;
		padding-top: 10px!important; /* FF sees this first and implements it */
		padding-top: 0px;
}

td.padleft {
		padding-left: 10px;
		padding-top: 3px;
}

/*  ORG ADMIN CONSOLE */

td.orgAdminNav {
	background:url('/wt-portal/images/backgrounds/orgAdmin_nav.gif') repeat-x;
}

td.orgAdminSubnav {
	background:url('/wt-portal/images/backgrounds/orgAdmin_subnav.gif') repeat-x;
	/*vertical-align: middle; */
	font-weight: bold;
}
a.orgAdminSubnav_on:link{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #0051e8; 
	font-weight: bold; 
	text-decoration:none;}
	
a.orgAdminSubnav_on:visited{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #0051e8; 
	font-weight: bold; 
	text-decoration:none;}
	
a.orgAdminSubnav_on:hover{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #0051e8; 
	font-weight: bold; 
	text-decoration:underline;}
	
a.orgAdminSubnav_on:active{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #0051e8; 
	font-weight: bold; 
	text-decoration:underline;}

a.orgAdminSubnav_off:link{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #001b4d; 
	font-weight: normal; 
	text-decoration:none;}
	
a.orgAdminSubnav_off:visited{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #001b4d; 
	font-weight: normal; 
	text-decoration:none;}
	
a.orgAdminSubnav_off:hover{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #001b4d; 
	font-weight: normal; 
	text-decoration:underline;}
	
a.orgAdminSubnav_off:active{
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 6px;
	color: #001b4d; 
	font-weight: normal; 
	text-decoration:underline;}



td.orgAdminTitle {
	background: #555753 url('/wt-portal/images/backgrounds/orgAdmin_titlebar2.gif') repeat-x;
	font-family: Georgia, Times, serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
	letter-spacing: -0.5;
	padding-bottom: 2px;
}

td.orgAdminTitle a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	padding-right: 10px;
}	

td.groupTab {
	padding-top: 2px;
	font-size: 11px;
}

td.groupTab h3 {
	padding: 0px;
	margin: 0px;
}	

/* Console page Help Rounded Box */
#helpbook {
	width: 85px;
	padding-right: 20px;
	padding-bottom: 2px; 
}

b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #e0edfc;}
b.r1{margin: 0 5px;}
b.r2{margin: 0 3px;}
b.r3{margin: 0 2px;}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

#helpbook .helplink {
	padding-right:10px; 
	background: #E0EDFC;
}

.helplink {
	padding-right:10px; 
	background: #E0EDFC;
}

/* Rounded box for notes to user */

b.rtop2, b.rbottom2{display:block;background: #F0F0F0}
b.rtop2 b, b.rbottom2 b{display:block;height: 1px;
    overflow: hidden; background: #FFFBDD;}
b.rtop2 b.r4, b.rbottom2 b.r4{margin: 0 1px;height: 2px}

#note .text {
	padding-right:10px;
	padding-left: 10px;
	background: #FFFBDD;
}

#note {
	background: transparent; 
	margin:1em;
	width: 90%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#f7f4d7; border-left:1px solid #81959D; border-right:1px solid #81959D;}
.xb1 {margin:0 5px; background:#81959D;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xboxcontent {
	display:block; 
	background:#FFFBDD; 
	border:0 solid #81959D; 
	border-width:0 1px;
	padding: 7px;
}

/* Event Notification Pane styles */
.xtree {
	font-family: Tahoma, Verdana, sanserif;
	color: #333333;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: -0.5;
	border: 1px solid #333333;
	width: 500px;
	height: 300px;
	overflow: auto;
}
.overviewOrg2 {
		/*background: url('/wt-portal/images/backgrounds/org_ovrview1.gif') repeat-x; */
		background-color: white;
        border-bottom: 1px solid #FFFFFF;
        /* padding-top: 2px; */
        /* padding-bottom: 2px; */
		font-family: Tahoma, Arial, sans-serif;
		font-size: 12px;
		color: #333333;
		font-weight: normal;
		margin-right: 0px;
		padding: 3px;
		white-space: nowrap;
}
.infopane {
	font-family: Tahoma, Verdana, sanserif;
	color: #333333;
	font-weight: normal;
	font-size: 12px;
	padding: 5px;
	margin-left: 10px;
	/* letter-spacing: -0.5; */
	border: 1px solid #BABDB6;
	width: 500px;
	height: 300px;
	overflow: auto;
	background-color: #fafcfe;
}

.infopane_avreports {
	font-family: Tahoma, Verdana, sanserif;
	color: #333333;
	font-weight: normal;
	font-size: 12px;
	padding: 5px;
	/* margin-left: 10px;*/
	/* letter-spacing: -0.5; */
	border: 1px solid #BABDB6;
	width: 400px;
	height: 400px;
	overflow: auto;
	background-color: #fafcfe;
}




/* Delivery Sequence styles */
.recipients {
	/* border-bottom: 1px solid #EBEBEB; */
	padding-left: 10px;
	padding-top: 3px;
}

td.escalationHead {
	border-bottom: 1px solid #FFFFFF;
	padding-top: 3px; padding-left:10px; height:22px; vertical-align: top;
}

/* Zoom Graph styles */

.zoom75 {
	font-family: Tahoma,Verdana,Arial, sansserif;
	font-size: 8px;
}

td.zoom75 {
	font-family: Tahoma,Verdana,Arial, sansserif;
	font-size: 8px;
}

.zoommenu {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	background-color: #FFFF99;
	color: #000000;
	padding: 2px;
	border: 1px solid #000000;
}

/* DBMon Styles  */

.queries {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	padding-left: 25px;
	/*padding-top: 0px;
	padding-bottom: 0px;*/
}

#queriestable {
	background:#e8f0fa; 
	/*margin:1em;*/
	width: 98%;
	padding: 0;
	margin-bottom: 10px;
}

#queriestable p {
	padding-left: 10px;
	margin: 0px;
}

#queriestable h1 h2 h3 {
	padding: 0px;
	margin: 0px;
}

#dbtable {
	background: transparent; 
	/*margin:1em;*/
	width: 98%;
	padding: 0 0 5px 0;
}

.ytop, .ybottom {display:block; background:transparent; font-size:1px;}
.yb1, .yb2, .yb3, .yb4 {display:block; overflow:hidden;}
.yb1, .yb2, .yb3 {height:1px;}
.yb2, .yb3, .yb4 {background:transparent; border-left:1px solid #214658; border-right:1px solid #214658;}
.yb1 {margin:0 5px; background:#214658;}
.yb2 {margin:0 3px; border-width:0 2px;}
.yb3 {margin:0 2px;}
.yb4 {height:2px; margin:0 1px;}

.yboxcontent {
	display:block; 
	background:transparent; 
	border:0 solid #214658; 
	border-width:0 1px;
	padding: 0px 3px 0px 3px;
	margin: 0;
	/*white-space: nowrap;*/
}

