
Licensor=Cittio, Inc.
Licensee=Cittio Demo Licensee
LicenseeId=1016
SafariMasterAccountId=510078
SafariUserCount=100
Expiration=never
SafariExpiration=never
WatchTowerNodeCount=unlimited

Signature=302C02143C04AA671960DE50B82C7D101E7F3EDDC6088AB2021414760C5568598FAC724B6FD44EC1E03FA4A30F8C________________________________________________________________________________
