[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.jhm,*.xslt,*.xul,*.svg,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.erb,*.rhtml}]
indent_style=space
indent_size=2

[{rcov,rails,spec,cucumber,spork,rake,capfile,gemfile,rakefile,guardfile,isolate,vagrantfile,Puppetfile,*.gemspec,*.jbuilder,*.rbw,*.thor,*.ru,*.rb,*.rake,*.yml}]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.yml,*.j2,*.yaml}]
indent_style=space
indent_size=2

