.DS_Store
.idea
*.pyc
*.tmp
*.vagrant
*.retry
*~
*.ssh
/tmp/*

.vault-password

aws/AwsInfo/node_modules/*

ansible/playbooks/grafana/ansible.cfg
ansible/playbooks/grafana/ansible.cfg
ansible/playbooks/amazon/ansible.cfg
ansible/playbooks/influxdb/ansible.cfg
ansible/playbooks/fam/ansible.cfg
ansible/playbooks/grafana-web/ansible.cfg
ansible/playbooks/qa/ansible.cfg
ansible/playbooks/pam/ansible.cfg
ansible/playbooks/rrd/ansible.cfg
ansible/playbooks/webtelemetry/ansible.cfg
ansible/playbooks/grafana/.atk-vault/*
/.ssh/
/ansible/playbooks/webtelemetry/2
!/ansible/playbooks/webtelemetry/password_vars/install
/.idea/dictionaries/
ansible/roles/wt_install/files/
vbox/
/ansible/roles/wt_deploy/files/id_rsa.pub
/ansible/roles/wt_deploy/files/sionCacheTimeoutq
/ansible/roles/wt_deploy/files/sync_my_source.sh
/ansible/roles/wt_deploy/files/zerofree_instructions.txt
