// Number means every $num day.

APT::Periodic::Update-Package-Lists "30";
APT::Periodic::Download-Upgradeable-Packages "30";
APT::Periodic::AutocleanInterval "7";
APT::Periodic::Unattended-Upgrade "30";
