## Default Profile for wtuser

## Export Defaults ##
{{ product.shortname }}_PATH=/WT

[ -f  ~/.bashrc ] && ~/.bashrc

echo "=================================="

if
[ -d ${{{ product.shortname }}_PATH} ]; then
   export {{ product.shortname }}_PATH && export {{ product.shortname }}_PATH && echo "{{ product.shortname }}_PATH = ${{{ product.shortname }}_PATH}"
fi
echo `uptime`

echo "=================================="

## Aliases ##
alias less="less -nR"
alias cddw="cd   ${{{ product.shortname }}_APP_PATH}"
alias cddb="cd ${{{ product.shortname }}_DB_PATH}"
alias cdrrd="cd  ${{{ product.shortname }}_RRD_PATH}"
alias cdmon="cd   ${{{ product.shortname }}_MON_PATH}"
alias sudox="sudo su -l wtuser"
alias wtx="cd ${{ product.shortname }}_PATH/appserver/webapps/snmp/WEB-INF"

### tput colors ###
#  - tput doesn't cause wrapping issues -  #
_Black=$(tput setaf 0)
_Red=$(tput setaf 1)
_Green=$(tput setaf 2)
_Yellow=$(tput setaf 3)
_Blue=$(tput setaf 4)
_Magenta=$(tput setaf 5)
_Cyan=$(tput setaf 6)
_Reverse=$(tput rev)
_Underline=$(tput smul)
_Underline_Off=$(tput rmul)
_Bold=$(tput bold)
_Off=$(tput sgr0)

## if git is installed, enable git-prompt.sh ##
if [ "$PS1" ] && [ -f /usr/bin/git ] && [ -f /etc/bash_completion.d/git-prompt ]; then
    #PS1='${debian_chroot:+($debian_chroot)}\u@\h:\w\[${_Blue}\]$(__git_ps1 "(%s)")\[${_Off}\]\$ '
    PS1='${debian_chroot:+($debian_chroot)}(\A)\[${_Bold}${_Green}\]\u\[${_Off}\]@\[${_Underline}\]\h\[${_Off}\]:\[${_Blue}\]\w\[${_Off}\]$(__git_ps1 "(%s)")\$ '
    export PS1
fi
