description "Tomcat Server"

    start on runlevel [2345]
    stop on runlevel [!2345]
    respawn
    respawn limit 10 5

    # run as non privileged user
    setuid wtuser
    setgid {{ product.admin }}

    # adapt paths:
    env JAVA_HOME="{{ java.home }}"
    env CATALINA_HOME=/WT/appserver

    # adapt java options to suit your needs:
           # env JAVA_OPTS="-Djava.awt.headless=true -Xms512M -Xmx1024M -server -XX:+UseParallelGC"
        # used for snmp:
    env JAVA_OPTS="-Dfile.encoding=UTF-8 -server -Xms{{ snmp.jvm.initial_heap_size }} -Xmx{{ snmp.jvm.max_heap_size }} -XX:NewSize=256m -XX:MaxNewSize=256m -XX:PermSize={{ snmp.jvm.perm_size }} -XX:MaxPermSize={{ snmp.jvm.max_perm_size }} -XX:+DisableExplicitGC"



    exec $CATALINA_HOME/bin/catalina.sh run

    # cleanup temp directory after stop
    post-stop script
    rm -rf $CATALINA_HOME/temp/*
    end script