# Configure Using Gemfile
# gem 'activerecord-jdbc-postgresql-adapter'
#
development:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{ product.db.dev_name }}
  username: root
  password: {{ product.db.password }}

test:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{ product.db.test_name }}
  username: root
  password: {{ product.db.password }}

production:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{telemetrix_db_name }}
  username: {{telemetrix_db_user }}
  password: {{telemetrix_db_pass }}
  host: {{ product.db.host }}

# ---- Report databases ----

dashboard_development:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{ webtelemetry_product_db_name }}
  username: {{ webtelemetry_product_db_user }}
  password: {{ webtelemetry_product_db_pass }}
  host: {{ webtelemetry_product_db_host }}

dashboard_test:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{ product.db.name }}
  username: root
  password: {{ product.db.password }}

dashboard_production:
  adapter: jdbc-postgresql
  encoding: utf8
  database: {{ webtelemetry_product_db_name }}
  username: {{ webtelemetry_product_db_user }}
  password: {{ webtelemetry_product_db_pass }}
  host: {{ webtelemetry_product_db_host }}
