upstream unicorn_influxdb {
    server 127.0.0.1:4200 fail_timeout=0;
    server unix:{{ influxdb.path }}/tmp/sockets/unicorn.sock fail_timeout=0;
}

server {

    listen 80;
    server_name {{ influxdb.url }};

    if ( $http_x_forwarded_proto != "https" ) {
        rewrite ^ https://$host$request_uri permanent;
    }

    ssl_session_timeout  5m;

    ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;

    charset utf-8;
    keepalive_timeout 5;

    root {{ influxdb.path }};
    add_header Cache-Control public;

    access_log /var/log/nginx/influxdb-access.log;
    error_log /var/log/nginx/influxdb-error.log;

    rewrite_log on;

    location / {
        root {{ influxdb.path }}/public;
        try_files $uri @unicorn_influxdb;
    }


    location @unicorn_influxdb {
          proxy_pass http://unicorn_influxdb;
          proxy_redirect     off;

          proxy_set_header   X-Forwarded-Proto https;
          proxy_set_header   Host             $host;
          proxy_set_header   X-Real-IP        $remote_addr;
          proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;

          client_max_body_size       10m;
          client_body_buffer_size    128k;

          proxy_connect_timeout      90;
          proxy_send_timeout         90;
          proxy_read_timeout        300;

          proxy_buffer_size          4k;
          proxy_buffers              4 32k;
          proxy_busy_buffers_size    64k;
          proxy_temp_file_write_size 64k;
    }

    location = /favicon.ico {
      root {{ influxdb.path }}/public/;
      expires max;
      break;
    }

    location ~ ^/(images|javascripts|stylesheets|system|assets)/  {
      root {{ influxdb.path }}/public/;
      expires max;
      break;
    }

    #error_page   500 502 503 504  /50x.html;
}
