description "dashboard rtcc {{ rtcc.name }}"
  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn

  env TELEMETRIX_HOME="{{ telemetrix_home }}"
  env VIRTUAL_ENV={{ virtualenv_path }}
  env PYTHONPATH={{ rtcc.path }}

  # run as non privileged user
  setuid {{ rtcc.user }}
  setgid {{ rtcc.group }}

console log

chdir /WT
exec stdbuf -oL {{ virtualenv_path }}/bin/dashboard -A webtelemetry.rtcc.tasks worker --loglevel=debug > {{ rtcc.log_path}}/celery_rtcc.log 2>&1
